.container {
  max-width: 950px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  color: #333;
}

.dialogs {
  width: 100%;
  height: 500px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: 73px 1fr;
  grid-template-areas:
    "search user"
    "dialogs chat";
}